<h1>Dashboard</h1>

<% @feeds.each do |feed| %>
  <h2><%= feed.title %></h2>
  <% feed.feed_items.each do |item| %>
    <h3><%= link_to item.title, item.link %></h3>
    <p><%= item.body.html_safe %></p>
  <% end %>
<% end %>
